body{
    background-color: red
;
}
.fi{
    color: brown;
}
.ji{
    color: blueviolet;
}
.link{
    color: blue;
    text-decoration: none;
}
img{
    width: 30%;
    height: 200px;
}
.hi{color: olive
    ;}